<p>home works!</p>
<a routerLink="products">Go To Products Relative</a> <!-- relative >>current url -->
<br>
<a routerLink="/products">Go To Products Absolute</a> <!-- absolute >>base url -->
<br>
<!-- <button class="btn btn-primary" (click)="onLoadProducts()">GoToProduct-Absolute</button> absolute -->
<button class="btn btn-primary" (click)="onLoadProduct(1)">GoToProduct-Programatically</button> <!-- absolute-->
<hr>

<a routerLink="/users">Go To Users(Absolute)</a>
<br>
<a routerLink="users">Go To Users(Relative)</a>
<br>
<br>
<button class="btn btn-dark text-info" (click)="onUsers(1)">Go To Users Programatically</button>